@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: normal;
    src: url(UbuntuMono-Regular.ttf) format('ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: Ubuntu Mono;
}

.healt {
    font-family: Ubuntu Mono;
    font-size: large;
    font-weight: bold;

}

#myProgress {
    height: 50px;
    width: 400px;
    background-color: rgb(58, 58, 58);
    border-radius: 50px;
    transition-duration: 1s;


}

#myPrgColor {
    background-color: rgb(2, 194, 2);
    width: 100%;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    transition-duration: 1s;

}

#monsterPrgColor {
    background-color: rgb(2, 194, 2);
    width: 100%;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    transition-duration: 1s;

}

#monsterProgress {
    height: 50px;
    width: 400px;
    background-color: rgb(58, 58, 58);
    border-radius: 50px;
    margin-left: 20px;
    transition-duration: 1s;

}

#body {
    display: flex;
    justify-content: center;
    align-items: center;

}

#button {
    position: absolute;
    top: 200px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(63, 63, 63);
    width: 50%;
    height: 10%;
    border-radius: 50px;
    min-width: 686.5px;
}

#newGameButt {
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    background-color: rgb(202, 202, 202);
    border: 0;
    font-size: 90%;
    font-weight: bold;
    transition-duration: 1s;
}

#newGameButt:hover {
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    background-color: rgb(25, 223, 7);    
    border: 0;
    font-size: 90%;
    font-weight: bold;
    transition-duration: 1s;
}


#attackButt {
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    background-color: rgb(255, 74, 74);
    border: 0;
    font-size: 90%;
    font-weight: bold;
    transition-duration: 1s;
}

#attackButt:hover {
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    background-color: rgb(233, 41, 41);
    border: 0;
    font-size: 90%;
    font-weight: bold;
    transition-duration: 1s;
}

#speAttackButt {
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    background-color: rgb(255, 120, 58);
    border: 0;
    font-size: 90%;
    font-weight: bold;
    transition-duration: 1s;
}

#speAttackButt:hover {
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    background-color: rgb(240, 90, 21);
    border: 0;
    font-size: 90%;
    font-weight: bold;
    transition-duration: 1s;
}

#helpButt {
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    background-color: rgb(120, 253, 80);
    border: 0;
    font-size: 90%;
    font-weight: bold;
    transition-duration: 1s;
}

#helpButt:hover {
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    background-color: rgb(63, 192, 23);
    border: 0;
    transition-duration: 1s;
    font-size: 90%;
    font-weight: bold;
}

#giveUpButt {
    padding: 20px 50px 20px 50px;
    border-radius: 40px;
    background-color: rgb(202, 202, 202);
    border: 0;
    transition-duration: 1s;
    font-size: 90%;
    font-weight: bold;
}

#giveUpButt:hover {
    padding: 20px 50px 20px 50px;
    font-size: 90%;
    font-weight: bold;
    border-radius: 40px;
    background-color: rgb(145, 145, 145);
    border: 0;
    transition-duration: 1s;
}


#attackInfo {
    position: absolute;
    top: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    padding-top: 20px ;
    padding-bottom: 20px ;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(63, 63, 63);
    width: 50%;
    height: auto;
    border-radius: 50px;

    min-width: 686.5px;
}

#meLog {
    height: 20%;
    width: 80%;
    padding: 0px 30px 0px 30px;
    text-align: center;
}

.log {
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    font-family: Ubuntu Mono;
    font-weight: bolder;
    font-size: large;
}


#sizedBox{
    position: absolute;
    height: 50px;
    width: 20px;
    top: 900px;
}